<h1> Finish </h1>

<div ng-controller="FinishCtrl as Finish">

  <button ng-click="Finish.add()" class="btn btn-lg"> FINISH </button>

  <p>{{ Finish.finish.time | date :'hh:mm:ss:.sss'}}</p>
  asas

  <p>Finishers attribués : {{ nbreOfFinishersAssigned}}</p>
<p class="bg-danger">  Finishers non attribués :{{ nbreOfFinishersNotAssigned}} </p>


<div ng-repeat="notAss in finishersNotAssigned"  |  orderBy:'date'>


	heure de passage : {{  notAss.time | date:"hh:mm:ss:ms"}}
	<button class="btn btn-danger" ng-click="Finish.remove(notAss)"> DELETE</button>
	<p></p>
</div>

</div>