<h1> Scan </h1>

<div ng-controller="ScanCtrl as Scan">

<form name="myForm">
    <div class="control-group">
      <label>Dossard</label>
      <input type="number" name="bib" ng-model="bib" required>

     <button ng-click="Scan.scan()" class="btn btn">Ajouter</button>
    </div>

    <div ng-show="runner">
    	<h2 class="bg-success" >
    	{{runner.bib}}, {{runner.firstName}}, {{runner.lastName}}  
    </h2>
    <div ng-if="runner.comment"> 
    <h2 class="bg-danger" >
   	 {{runner.comment}} 
    </h2>
    </div>


  </div>
</form>


</div>