
<div overlay="overlay1" >
  <div class="scrollable">
    <div class="scrollable-content">
      <h4 class="overlay-title">Coureur</h4>
      <button   ng-click="Runner.destroy()"
                ng-show="Runner.detailRunner.$id" class="btn btn-danger pull right">
                Delete
      </button>

      <form name="myForm">
        <div bs-panel title="Données Personnelles">
          <input
          bs-form-control
          type="text" 
          ng-model="Runner.detailRunner.firstName"
          label="Prénom" 
          label-class="col-xs-3 col-sm-2 col-lg-1" 
          class="col-xs-9 col-sm-10 col-lg-11"
          placeholder=""
          />
          <input
          bs-form-control
          type="text" 
          ng-model="Runner.detailRunner.lastName"
          label="Nom de famille" 
          label-class="col-xs-3 col-sm-2 col-lg-1" 
          class="col-xs-9 col-sm-10 col-lg-11"
          placeholder=""
          />
          <input
          bs-form-control
          type="email" 
          ng-model="Runner.detailRunner.email"
          label="email" 
          label-class="col-xs-3 col-sm-2 col-lg-1" 
          class="col-xs-9 col-sm-10 col-lg-11"
          placeholder=""
          />
          <input
          bs-form-control
          type="date" 
          ng-model="Runner.detailRunner.date"
          label="date de naissance" 
          label-class="col-xs-3 col-sm-2 col-lg-1" 
          class="col-xs-9 col-sm-10 col-lg-11"
          data-date-format="dd-mm-yyyy"
          data-date="12-02-2012" 
          />
          <input
          bs-form-control
          type="number" 
          ng-model="Runner.detailRunner.bib"
          label="dossard" 
          label-class="col-xs-3 col-sm-2 col-lg-1" 
          class="col-xs-9 col-sm-10 col-lg-11"
          placeholder=""
          />
          <input
          bs-form-control
          type="number" 
          ng-model="Runner.detailRunner.amount"
          label="montant" 
          label-class="col-xs-3 col-sm-2 col-lg-1" 
          class="col-xs-9 col-sm-10 col-lg-11"
          placeholder=""
          />
          <select
          bs-form-control
          type="number" 
          ng-model="Runner.detailRunner.km"
          label="km" 
          label-class="col-xs-3 col-sm-2 col-lg-1" 
          class="col-xs-9 col-sm-10 col-lg-11">
          <option value="10">10</option>
          <option value="20">20</option>
         />
        <div>
        <div bs-panel title="Chronométrage">
          <input
          ng-if="Runner.detailRunner.time"
          bs-form-control
          type="datetime" 
          ng-model="Runner.detailRunner.time"
          label="Heure d'arrivée" 
          label-class="col-xs-3 col-sm-2 col-lg-1" 
          class="col-xs-9 col-sm-10 col-lg-11"
          placeholder=""
          />
        </div>
      </form>
      <p toggle="off" bubble target="overlay1">
        <button type="button" ng-click="Runner.save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Save</button>
        <span class="btn btn-default">Cancel</span>
      </p>  
    </div>      
  </div> 
</div>












