   <div content-for="title">
    <span>Finish</span>
  </div>

<div ng-controller="FinishCtrl as Finish">


<div class="scrollable">
  <div class="scrollable-content">
  <div class="container-fluid section section-break">
		  <button ng-click="Finish.add()" class="btn btn-lg"> FINISH </button>
	
	</div>

    <div class="list-group">

			</div>
			<div ng-repeat="notAss in finishers | assignedFilter |  orderBy:'date' "  href="#" class="list-group-item">
        				heure de passage : {{  notAss.time | date:"hh:mm:ss:ms"}}
				<button class="btn btn-danger pull-right"  ng-click="Finish.remove(notAss)"> DELETE</button> 
				<br>
      </div>

    </div>
  </div>
</div>
</div>



















