<div ng-controller="ScanCtrl as Scan">
   <div content-for="title">
    <span>Scan</span>
  </div>
  <div class="scrollable">
    <div class="scrollable-content">
      <div ng-show="showDetail" class="container-fluid section section-break">
        <detail-finisher></detail-finisher> 
      </div>

      <div ng-show="showList">
      <div class="list-group">  
        <a  ng-repeat="notAss in finishers | assignedFilter |  orderBy:'date' " 
            href="" 
            ng-click="Scan.edit(notAss)" 
            class="list-group-item">
         <strong>{{$index + 1}}</strong> 
         heure de passage : {{  notAss.time | date:"hh:mm:ss:ms"}} <i class="fa fa-chevron-right pull-right"></i>
        </a>
      </div>
      </div>

    </div>
  </div>
</div>